.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.main-cover {
    padding: 130px 0 130px 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-image: url("https://cdn.pixabay.com/photo/2017/01/20/00/30/maldives-1993704__480.jpg");
    background-position: center;
    background-size: cover;
}